[submodule "StarryRender/external/glfw"]
	path = StarryRender/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "StarryRender/external/glm"]
	path = StarryRender/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "StarryRender/external/imgui"]
	path = StarryRender/external/imgui
	url = https://github.com/ocornut/imgui
